version: '2.3'

services:
  main:
    build:
      context: ./
      dockerfile: Dockerfile
    runtime: nvidia
    restart: always
    links:
      - rabbitmq
    depends_on:
      - rabbitmq
    env_file:
      - "docker-compose-env/main.env"
      - "docker-compose-env/rabbitmq.env"
    expose:
      - "8000"
    ports:
      - "8004:8000"
    stdin_open: true
    tty: true

  rabbitmq:
    image: rabbitmq:latest
    restart: always
    env_file:
      - "docker-compose-env/rabbitmq.env"
    expose:
      - "5672"
      - "15672"
